html {
    overflow: scroll;
}

h1, h3 {
    color: #293250;
}

.first, .second {
    height: 50vh;
    width: 100%;
}

.first {
    float: left;
    background-color: #6DD47E;
}

.second {
    float: right;
    background-color: #FFD55A;
}

/*
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}
*/

.newGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -55%);
}

.btn-lg {
    background-color: #293250;
    color: white;
    border-color: #293250;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -15%);
    z-index: 1;
}

.logo img {
    background: transparent;
    border-radius: 3rem;
    width: 25%;
    padding: 4%;
}

.form-control {
    border-radius: 0.75rem;
    width: 120%;
}

@media screen and (min-width: 768px) {
    .first, .second {
        height: 100vh;
    }

    .newGame {
        top: 65%;
        left: 50%;
        transform: translate(-40%, -70%);
    }

    .logo {
        top: 80%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

/* SETUP */

.setup {
    background-color: #6DD47E;
}

.full {
    height: 100vh;
    width: 100%;
}

#indexBoard {
    margin: 0 auto 2em auto;
    width: 100%;
    overflow: scroll;
}

#boardCol {
    margin: 0 auto 2em auto;
    width: 560px;
    max-width: inherit;
}

#indexesRow {
    position: relative;
    margin: 0 auto 0 auto;
    width: 506px;
    height: 50px;
    max-width: inherit;
}

#indexesCol {
    position: relative;
    width: 50px;
    height: 506px;
    float: left;
}

#board {
    position: relative;
    /* margin: 0 auto 2em auto; */
    /* margin-right: 50px;  */
    width: 506px;
    height: 506px;
    border: 3px solid #293250;
    cursor: cell;
    float:right;
    margin-bottom: 4em;
}

#board div{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f7f8f9; 
    border: 1px solid rgba(41, 50, 80, 0.8);
    width: 50px;
    height: 50px;
    border-radius: 3px;
}

td {
    color: #293250;
    font-weight: 600 !important;
}

th {
    color: white;
    background-color: #293250 !important;
    
}

.caption {
    color: white;
    text-shadow: 1.5px 1.5px #293250;
}

#indexBoard div.index.centerRow {
    padding-left: 49px;
    padding-top: 10px;
}

#indexBoard div.index {
    position: absolute;
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: #293250;
    font-size: 20px;
    padding-top: 9px;
    overflow: auto;
    padding-left: 23px;
}

@media screen and (max-width: 767px) {
    #indexBoard div.index.centerRow {
        padding-left: 75px;
    }
}

/* GAME */

#boardMine, #boardTarget {
    position: relative;
    margin: 0 auto 2em auto;
    width: 506px;
    height: 506px;
    border: 3px solid #293250;
    margin-right: 0;
}

#boardTarget:hover {
    cursor: url('https://i.ibb.co/rFq4rc1/crosshair.png') 16 16, crosshair;
}

#boardMine div, #boardTarget div, .legend {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f7f8f9; 
    border: 1px solid rgba(41, 50, 80, 0.7);
    width: 50px;
    height: 50px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
    border-radius: 3px;
}


#indexBoard1, #indexBoard2 {
    margin: 0 auto 2em auto;
    width: 100%;
    overflow: scroll;
}

#boardCol1, #boardCol2 {
    margin: 0 auto 2em auto;
    width: 560px;
    max-width: inherit;
}

#indexesRow1, #indexesRow2 {
    position: relative;
    margin: 0 auto 0 auto;
    width: 506px;
    height: 50px;
    max-width: inherit;
}

#indexesCol1, #indexesCol2 {
    position: relative;
    width: 50px;
    height: 506px;
    float: left;
}

#indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
    padding-left: 49px;
    padding-top: 10px;
}

#indexBoard1 div.index, #indexBoard2 div.index {
    position: absolute;
    background-color: transparent;
    border: none;
    font-weight: 600;
    color: #293250;
    font-size: 20px;
    padding-top: 9px;
    overflow: auto;
    padding-left: 23px;
}

@media screen and (max-width: 1200px) {
    #boardMine, #boardTarget {
        position: relative;
        margin: 0 auto 5em auto;
        width: 506px;
        height: 506px;
        border: 3px solid #293250;
    }

    .container {
        margin-top: 2em;
    }
}

@media screen and (max-width: 1199px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 23px;
    }
    #indexBoard1 div.index, #indexBoard2 div.index {
        
        padding-left: 0px;
    }
}

@media screen and (max-width: 767px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 33px;
    }
}


@media screen and (max-width: 575px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 23px;
    }
}

@media screen and (max-width: 550px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 31px;
    }
}

@media screen and (max-width: 537px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 39px;
    }
}

@media screen and (max-width: 525px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 44px;
    }
}


@media screen and (max-width: 512px) {
    #indexBoard1 div.index.centerRow, #indexBoard2 div.index.centerRow {
        padding-left: 49px;
    }
}

