h1, h3 {
    color: #293250;
}

.first, .second {
    height: 50vh;
    width: 100%;
}

.first {
    float: left;
    background-color: #6DD47E;
}

.second {
    float: right;
    background-color: #FFD55A;
}

/*
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    text-align: center;
}
*/

.newGame {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -55%);
}

.btn-lg {
    background-color: #293250;
    color: white;
    border-color: #293250;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -15%);
    z-index: 1;
}

.logo img {
    background: transparent;
    border-radius: 3rem;
    width: 25%;
    padding: 4%;
}

.form-control {
    border-radius: 0.75rem;
    width: 120%;
}

@media screen and (min-width: 768px) {
    .first, .second {
        height: 100vh;
    }

    .newGame {
        top: 65%;
        left: 50%;
        transform: translate(-40%, -70%);
    }

    .logo {
        top: 80%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

/* SETUP */

.setup {
    background-color: #6DD47E;
}

.full {
    height: 100vh;
    width: 100%;
}

#board {
    position: relative;
    margin: 0 auto 2em auto;
    width: 506px;
    height: 506px;
    border: 3px solid #293250;
}

#board div{
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f6f8f9; 
    border: 1px solid rgba(16, 20, 31, 0.7);
    width: 50px;
    height: 50px;
}

td {
    color: #293250;
}

th {
    color: white;
    background-color: #293250 !important;
}

.caption {
    color: white;
}

/*
@media screen and (max-width: 650px) {
    #board {
        width: 253px;
        height: 253px;
    }
    
    #board div {
        width: 25px;
        height: 25px;
    }
}

/* GAME */

#boardMine, #boardTarget {
    position: relative;
    margin: 0 auto 2em auto;
    width: 506px;
    height: 506px;
    border: 3px solid #293250;
    margin-right: 0;
}

#boardMine div, #boardTarget div, .legend {
    position: absolute;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #f6f8f9; 
    border: 1px solid rgba(41, 50, 80, 0.7);
    width: 50px;
    height: 50px;
    font-weight: 700;
    text-align: center;
    font-size: 30px;

}